<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="stylesheet" type="text/css" href="http://www.robvic.com/css/template_css.css">
</head>
<body>
<h1>This Is a Test Mail</h1>
<h2>Dear ${firstName} ${lastName}</h2>
<a href="http://localhost:8080/CenMesSer/userActivation/activate.do?uId=${uId}">Click me to Activate your Account</a>
<p>
This a test mail using css style and logo from URL.
</p>
<p>
Thanks
</p>
<img src="http://www.robvic.com/images/robvic_logo.png" style="width:104px;height:58px">
</body>
</html>